*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-size: 20px;


}

body{

    background-color: rgb(74, 175, 118);
}

.header{

    background-color: antiquewhite;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;

}

.header .logo{
cursor: pointer;
margin-right: auto;

}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;

}

.header .logo img:hover{

    transform: scale(1.2);

}

.header .nav-links{

    list-style: none;

}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;

}

.header .nav-links li:hover{

    transform: scale(1.1);
    transition: all 0.6s;

}

.header .nav-links a{

    font-size: 700;
    color: aqua;


}

.header .nav-links li a:hover{
    color: blue;
}

.menu{
    display: none;
}

.header .btn button,
.header .menu button{
    margin-left: 20px;
    font-weight: 700;
    color: cadetblue;
    padding: 9px 25px;
    background: #000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover,.header .menu button:hover{
    background-color: aqua;
    color: aliceblue;
    transform: scale(1.1);
}


@media screen and (max-width:800px){

    .nav-links, .btn{
        display: none;
    }

    .menu{
        display: inherit;
    }
}
    


/*nav responsive*/

.header a{
    text-decoration: none;
}

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33, 49, 63, .95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: blue;
}

.header .overlay a:hover,
.header .overlay a:focus{
    color: chartreuse;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;

}

@media  screen and (max-height:450px) {
    .header .overlay a{
        font-size: 20px;

    }

    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}